.carousel {
    display: flex;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.slide {
    flex: 0 0 100%;
    transition: transform 1s ease; /* Adjust transition timing here */
    display: inline-block;
    width: 100%;
    height: 100%;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}
